*{
    margin: 0;
    padding: 0;
  }
  
  .Logo img{
    width: 150px;
  }
  
  body{
    background-color: #b7aeae;
    font-family:'Courier New', Courier, monospace;
    font-size: large;
    
  }
  
  
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b7aeae;
    padding: 10px;
    
    }
    nav{
     position: relative;
      top:0;
      right: 0;
      width:100%;
    }
  
    nav ul {
      display: flex;
      list-style: none;
      justify-content: flex-end;
      margin:65px 0;
      padding: 0;
    }
    
    nav li {
      margin-left: 20px;
      margin-right: 20px;
    }
    
    nav a {
      color: #fff;
      text-decoration: none;
      
    }
    
    nav ul li a:hover {
      color: rgb(83, 66, 66);
      text-decoration: underline;
    }
    
    img {
      width: 100px;
      height: auto;
    }
    
    
    
    @media (max-width: 768px) {
      header {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      nav {
        width: 100%;
      }
      nav ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
      }
      nav li {
        margin: 10px 0;
      }
    }
    
  
    /*esto es para la imagen del banner*/
    .banner {
      position: relative;
      background-image: url("./fotos/inteligencia2.jpg");
      background-size: cover;
      background-position: center;
      height: 300px; /* Ajusta la altura según tus necesidades */
    }
    
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      flex-direction: column; /* Añadido: establecer dirección de flexión en columna */
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.3s ease;
      background-color: rgba(83, 66, 66, 0.5);
    }
    
    .banner:hover .overlay {
      opacity: 1;
    }
    
    .overlay-text {
      color: white;
      font-size: 24px;
      font-weight: bold;
    }
    
    .overlay-subtext {
      color: white;
      font-size: 16px;
      font-weight: normal;
      margin-top: 10px; /* Espacio adicional entre el texto principal y el texto adicional */
    }
    
      
    
  
  
  
  
  
    /*tajetas*/
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 100px 0;
      opacity: 0.7;
      padding: 20;
      
    }
    
    .card {
      color: rgb(83, 66, 66);
      flex: 1;
      background-color: #bacfc2;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      margin: 20px 10px;
      padding: 20px;
      text-align: center;
      transition: all 0.3s ease-in-out;
      border-radius: 10px;
    }
    
    .card:hover {
      transform: translateY(-10px);
      box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
    }
    
    .card {
      border-radius: 20px;
      padding: 20px;
      position: relative;
      width: 200px;
      height: 300px;
      
      margin: 20px;
      overflow: hidden;
    }
    
    
    .hover-image {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }
    .card h3 {
      margin-bottom: 10px;
    }
    
    .card p {
      margin-top: 10px;
    }
    
    
    .card:hover .hover-image {
      display: block;
    }
    
    
    
    
  
  /*boton flecha inicio*/
  
  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2em;
    color: #444;
  
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  .scroll-to-top:hover {
  
    background-color: #777;
    text-decoration:none;
  }
  
  .scroll-to-top img {
    width: 20px;
    height: 20px;
  }
  
  
  /*redes sociales*/
  
  footer {
  
    background-color: #b7aeae;
    padding: 20px;
    margin-top: 50px;
  
  
  }
  
  footer {
    background-image: url('./fotos/rama12.png');
    background-size:20ch;
    background-repeat: no-repeat;
    background-position: center left;
    padding: 30px;
  }
  
  
  .redes-sociales {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  
  }
  
  .redes-sociales a {
    color: #ecebeb;
    font-size: 24px;
    margin: 0 10px;
  }
  
  .redes-sociales a:hover {
    color:rgb(83, 66, 66);
  }
  